[Unit]
Description = redissyncer service up
After = docker.service

[Service]
Type = oneshot
RemainAfterExit = yes
ExecStart = /bin/bash /home/redissyncer/redissyncer/startcompose.sh
ExecStop = /bin/bash /home/redissyncer/redissyncer/stopcompose.sh


[Install]
WantedBy = default.target
